/* PALETA DE COR */

:root {
    --azul1: #02293E;
	--azul2: #1996FC;
	--verde1: #24E37A;
	--verde2: #35BF73;
	--cinza1: #F5F5F5;
	--roxo1: #7A00FD;
	--laranja1: #FD9526;
}

body{
	overflow-x: hidden;
}


/* FONTES */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); */

/* SF PRO TEXT */

@font-face {
    font-family: SF Pro Text Medium;
		font-weight: medium;
    src: url(../fontes/SFProText-Medium.ttf);
}

@font-face {
    font-family: SF Pro Text Bold;
	font-weight: bold;
    src: url(../fontes/SFProText-Bold.ttf);
}

@font-face {
    font-family: SF Pro Text;
    src: url(../fontes/SFProText-Regular.ttf);
}

/* ROBOTO */

@font-face {
    font-family: Roboto;
    src: url(../fontes/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto Medium;
	font-weight: medium;
    src: url(../fontes/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto Bold;
	font-weight: bold;
    src: url(../fontes/Roboto-Bold.ttf);
}

a, a:hover, a:focus, a:visited, a:active{
	text-decoration:none;
	color: inherit;
}

li{
	list-style: none;
}

/* BOOTSTRAP CHANGES */
.navbar-light .navbar-toggler{
	border-color: transparent;
}

/* .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
	color: var(--laranja1);
} */

.span-link{
	color: white;
}

.link-active-azul{
	color: var(--azul2) !important;
}

.link-active{
	color: var(--azul2) !important;
	border-bottom: 1px solid var(--azul2);
	padding-bottom: 5px;
}

@media only screen and (max-width: 991px) {
	.contato-container{
		max-width: 400px;
		margin: 0px auto;
	}
}

@media only screen and (min-width: 992px) {
	.contato-container{
		max-width: 900px;
		margin: 0px auto;
	}
}

@media only screen and (min-width: 1400px) {
	.nav-container{
		max-width: 1400px;
		margin: 0px auto;
	}
}


.carousel-control-next, .carousel-control-prev{
	width: 5%;
}


/* UTILS */

.p-relative{
	position: relative;
}

.box-shadow-1{
	box-shadow: 0px 3px 6px #00000029;
}

.border-bottom-link-azul2:hover{
	border-bottom: 2px solid var(--azul2);
}

.border-bottom-azul2{
	border-bottom: 2px solid var(--azul2);
}

.text-azul2{
	color: var(--azul2) !important;
}

/* BACKGROUNDS */

.bg-cinza1{
	background-color: var(--cinza1);
}

.bg-azul1{
	background-color: var(--azul1);
}

.bg-azul2{
	background-color: var(--azul2);
}

/* BUTTONS */

.btn-verde{
	background-color: var(--verde1);
	color: var(--azul1);
	font-family: Roboto Medium;
	font-weight: medium;
	font-size: 16px;
	border: 0px;
	border-radius: 7px;
	height: 48px;
}

.btn-verde:hover{
	background-color: var(--verde2);
}

@media only screen and (max-width: 1290px) {
	.btn-verde{
		font-weight: bold;
		font-size: calc(9px + 0.5vw);
	}
}

/* WHATSAPP BUTTON */

#whatsapp-icon{
	position: fixed;
	bottom: 5%;
	right: 3%;
	width: 130px;
	font: normal normal normal 15px/18px SF Pro Text;
	text-align: center;
	z-index: 9999999999;
}

@media only screen and (max-width: 600px) {
	#whatsapp-icon > img{
		width: 60px;
	}
}



/* NAVBAR */

@media only screen and (min-width: 993px){
	#container-nav{
		position: fixed;
		top: 0px;
		background-color: var(--azul1);
		box-shadow: 0px 3px 6px #00000029;
		height: 90px;
		z-index: 999999999;
	}	

	.espaco-nav{
		margin-top: 90px;
	}
}

@media only screen and (max-width: 992px){
	#container-nav{
		position: fixed;
		top: 0px;
		background-color: var(--azul1);
		box-shadow: 0px 3px 6px #00000029;
		/* height: 90px; */
		z-index: 999999999;
	}	

	.espaco-nav{
		margin-top: 80px;
	}
}

.icone-folha-hover{
	position: absolute;
	top: 7px;
	left: -17px;
}

.container-nav-rolled{
    position: fixed;
    top: 0px;
    z-index: 999999999;
}

.navbar-lg-content > ul{
	list-style: none;
}

.navbar-lg-content > ul > li{
	display: inline;
	color: white;
	font-family: SF Pro Text Medium;
	font-size: 17px;
	/* font-size: calc(6px + 0.6vw); */
	letter-spacing: 0px;
	color: #FFFFFF;
}

/* HOME */

/* CAROUSEL */

.home-carousel-content{
	position: absolute;
	right: 20%;
	top: 20%;
}

@media only screen and (max-width: 980px) {
	.home-carousel-content{
		position: absolute;
		right: 15%;
		top: 20%;
	}
}

.home-carousel-redes{
	position: absolute;
	bottom: 5%;
	right: 10%;
	font-size: 20px;
	z-index: 99;
}

.carousel-item > img{
	max-width: 100%;
	object-fit: center;
}

.home-carousel-content > h1{
	font-family: SF Pro Text Bold;
	font-size: calc(13px + 2.5vw);
	/* font-size: 63px; */
	font-weight: bold;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-shadow: 2px 2px black;

}

.home-carousel-content > h2{
	font-family: SF Pro Text;
	font-size: calc(6px + 1.6vw);
	/* font-size: 35px; */
	letter-spacing: 0px;
	line-height: 1.5em;
	color: #FFFFFF;
	text-shadow: 2px 2px black;
}

.home-carousel-content-xs > h1{
	font-family: SF Pro Text Bold;
	font-size: 35px;
	/* font-size: 63px; */
	font-weight: bold;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-shadow: 2px 2px black;
}

.home-carousel-content-xs > h2{
	font-family: SF Pro Text;
	font-size: 20px;
	/* font-size: 35px; */
	letter-spacing: 0px;
	line-height: 1.5em;
	color: #FFFFFF;
	text-shadow: 2px 2px black;
}

.home-carousel-redes-xs{
	text-shadow: 2px 2px black;
	/* font-size: 20px; */
}
/* SECTION 2 */

.home-section2-title > h1{
	font-family: SF Pro Text Bold;
	font-size: calc(40px + 1.0vw);
	/* font: normal normal bold 63px/75px SF Pro Text; */
	letter-spacing: 0px;
	color: var(--azul1);
}

.home-section2-title > h2{
	font-family: SF Pro Text;
	font-size: calc(15px + 1.0vw);
	line-height: 1.3em;
	/* font: normal normal bold 63px/75px SF Pro Text; */
	letter-spacing: 0px;
	color: #848484;
}

.home-section2-title > h5{
	font-family: SF Pro Text;
	font-size: calc(15px + 0.5vw);
	letter-spacing: 0px;
	color: var(--azul1);
}

.icone-folha-section2-hover{
	position: absolute;
	top: 0px;
	left: -17px;
	width: 25px;
}

@media (max-width: 1450px){
	.icone-folha-section2-hover{
		position: absolute;
		top: 3px;
		left: -8px;
		width: 20px;
	}	
}

@media (max-width: 1200px){
	.icone-folha-section2-hover{
		position: absolute;
		top: 5px;
		left: 0px;
		width: 15px;
	}	
}

@media (max-width: 1000px){
	.icone-folha-section2-hover{
		position: absolute;
		top: 4px;
		left: 10px;
		width: 12px;
	}	
}

@media (max-width: 1000px){
	.icone-folha-section2-hover{
		position: absolute;
		top: 4px;
		left: 15px;
		width: 12px;
	}	
}

.home-section2-content > img{
	width: 100%;
	max-width: 644px;
	object-fit: contain;
}

.home-section2-content > h1{
	font-family: SF Pro Text Bold;
	font-size: calc(45px + 2.5vw);
	letter-spacing: 0px;
	line-height: 1em;
	color: var(--azul2);
}

.home-section2-content > span{
	font: normal normal normal calc(20px + 0.3vw)/35px SF Pro Text;
	letter-spacing: 0px;
	color: #707070;
}

#home-section2-folha {
	position: absolute;
	bottom: -15%;
	right: 5%;
	width: 300px;
}

#home-section2-folha > img{
	width: 100%;
}

@media only screen and (max-width: 1130px) {
	#home-section2-folha {
		display: none;
	}
}

#home-section2-cafe1 {
	position: absolute;
	top: 10%;
	left: 5%;
	width: 100px;
}

#home-section2-cafe1 > img{
	width: 100%;
}

#home-section2-cafe2 {
	position: absolute;
	bottom: -40%;
	left: 5%;
	width: 100px;
}

#home-section2-cafe1 > img{
	width: 100%;
}

@media only screen and (max-width: 1030px) {
	#home-section2-cafe1 {
		display: none;
	}
	#home-section2-cafe2 {
		display: none;
	}
}


/* SECTION 3 */

#home-section3-diagonal{
	background: linear-gradient(-5deg, #F5F5F5 0%, #F5F5F5 45%, transparent 0%);
	background-position: top;
	height: 200px;
}

.home-section3-title > h1{
	font: normal normal bold normal calc(40px + 1vw)/75px SF Pro Text Bold;
	letter-spacing: 0px;
	color: var(--azul2);
}

.home-section3-title > h2{
	font: normal normal normal calc(20px + 0.3vw)/35px SF Pro Text;
	letter-spacing: 0px;
	color: #707070;
}

@media (min-width: 1500px){
	#container-section-cards{
		margin: 0px auto;
		width: 1400px;
	}
}

#home-section3-cards{
	background-image: linear-gradient(
		var(--cinza1),
		var(--cinza1) 30%,
		white 30%,
		white 100%
	);
}

.home-section3-card{
	height: 100%;
	border-radius: 10px;
	max-width: 300px;
	background-color: white;
}

.home-section3-card-content > h1{
	font: normal normal normal 30px/36px SF Pro Text;
	letter-spacing: 0px;
	color: var(--azul2);
}

.home-section3-card-content > span{
	font: normal normal normal 20px/24px SF Pro Text;
	letter-spacing: 0px;
	color: #848484;
}


@media (min-width: 1298px) and (max-width: 1498px){
	.home-section3-card{
		height: 100%;
		border-radius: 10px;
		max-width: 250px;
		background-color: white;
	}

	.home-section3-card-content > h1{
		font: normal normal normal 28px/36px SF Pro Text Medium;
		letter-spacing: 0px;
		color: var(--azul2);
	}
	
	.home-section3-card-content > span{
		font: normal normal normal 17px/24px SF Pro Text Medium;
		letter-spacing: 0px;
		color: #848484;
	}
}

@media (min-width: 1198px) and (max-width: 1297px){
	.home-section3-card{
		height: 100%;
		border-radius: 10px;
		max-width: 230px;
		background-color: white;
	}

	.home-section3-card-content > h1{
		font: normal normal normal 26px/36px SF Pro Text Medium;
		letter-spacing: 0px;
		color: var(--azul2);
	}
	
	.home-section3-card-content > span{
		font: normal normal normal 14px/24px SF Pro Text Medium;
		letter-spacing: 0px;
		color: #848484;
	}
}

@media (min-width: 992px) and (max-width: 1150px){
	.home-section3-card{
		height: 100%;
		border-radius: 10px;
		max-width: 250px;
		background-color: white;
	}

	.home-section3-card-content > h1{
		font: normal normal normal 28px/36px SF Pro Text Medium;
		letter-spacing: 0px;
		color: var(--azul2);
	}
	
	.home-section3-card-content > span{
		font: normal normal normal 17px/24px SF Pro Text Medium;
		letter-spacing: 0px;
		color: #848484;
	}
}

@media (min-width: 769px) and (max-width: 830px){
	.home-section3-card{
		height: 100%;
		border-radius: 10px;
		max-width: 250px;
		background-color: white;
	}

	.home-section3-card-content > h1{
		font: normal normal normal 28px/36px SF Pro Text Medium;
		letter-spacing: 0px;
		color: var(--azul2);
	}
	
	.home-section3-card-content > span{
		font: normal normal normal 17px/24px SF Pro Text Medium;
		letter-spacing: 0px;
		color: #848484;
	}
}

/* SECTION 4 */

#home-section4{
	padding-top: 10em;
	padding-bottom: 10em;
	overflow-x: hidden;
	overflow-y: hidden;
}

#imagem-fazendeiro{
	width: 500px;
	position: absolute;
	display: block;
	right: 0px;
	bottom: -20%;
	z-index: 99;
}

@media only screen and (max-width: 1600px) {
	#imagem-fazendeiro{
		width: 460px;
		position: absolute;
		display: block;
		right: 0px;
		bottom: -20%;
		z-index: 99;
	}
}

@media only screen and (max-width: 1500px) {
	#imagem-fazendeiro{
		width: 430px;
		position: absolute;
		display: block;
		right: 0px;
		bottom: -20%;
		z-index: 99;
	}
}

@media only screen and (max-width: 1300px) {
	#imagem-fazendeiro{
		width: 400px;
		position: absolute;
		display: block;
		right: 0px;
		bottom: -15%;
		z-index: 99;
	}
}

@media only screen and (max-width: 1200px) {
	#imagem-fazendeiro{
		width: 400px;
		position: absolute;
		display: block;
		right: -10%;
		bottom: -15%;
		z-index: 99;
	}
}

@media only screen and (max-width: 992px) {
	#imagem-fazendeiro{
		display: none;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {

}


.home-section4-title > h1{
	/* font: normal normal bold calc(18px + 1vw) SF Pro Text Bold; */
	font: normal normal bold 40px SF Pro Text Bold;
	letter-spacing: 0px;
	color: var(--azul2);
}

.home-section4-title > h2{
	/* font: normal normal bold calc(41px + 1vw) SF Pro Text Bold; */
	font: normal normal bold 60px SF Pro Text Bold;
	letter-spacing: 0px;
	color: var(--azul2);
}

.home-section4-content > span{
	font: normal normal normal calc(20px + 0.3vw)/34px SF Pro Text;
	letter-spacing: 0px;
	color: #848484;
}

.btn-verde-agende{
	background-color: var(--verde1);
	color: var(--azul1);
	font-family: Roboto Medium;
	font-weight: medium;
	font-size: 19px;
	border: 0px;
	border-radius: 7px;
}

.btn-verde-agende:hover{
	background-color: var(--verde2);
}

@media only screen and (max-width: 1600px){
	.home-section4-title > h1{
		/* font: normal normal bold calc(18px + 1vw) SF Pro Text Bold; */
		font: normal normal bold 30px SF Pro Text Bold;
		letter-spacing: 0px;
		color: var(--azul2);
	}
	
	.home-section4-title > h2{
		/* font: normal normal bold calc(41px + 1vw) SF Pro Text Bold; */
		font: normal normal bold 45px SF Pro Text Bold;
		letter-spacing: 0px;
		color: var(--azul2);
	}

	.home-section4-content > span{
		font: normal normal normal 21px SF Pro Text;
		letter-spacing: 0px;
		color: #848484;
	}
}

@media only screen and (max-width: 1500px){
	.home-section4-title > h1{
		/* font: normal normal bold calc(18px + 1vw) SF Pro Text Bold; */
		font: normal normal bold 27px SF Pro Text Bold;
		letter-spacing: 0px;
		color: var(--azul2);
	}
	
	.home-section4-title > h2{
		/* font: normal normal bold calc(41px + 1vw) SF Pro Text Bold; */
		font: normal normal bold 40px SF Pro Text Bold;
		letter-spacing: 0px;
		color: var(--azul2);
	}

	.home-section4-content > span{
		font: normal normal normal 19px SF Pro Text;
		letter-spacing: 0px;
		color: #848484;
	}
}

@media only screen and (max-width: 1400px){
	.home-section4-title > h1{
		/* font: normal normal bold calc(18px + 1vw) SF Pro Text Bold; */
		font: normal normal bold 27px SF Pro Text Bold;
		letter-spacing: 0px;
		color: var(--azul2);
	}
	
	.home-section4-title > h2{
		/* font: normal normal bold calc(41px + 1vw) SF Pro Text Bold; */
		font: normal normal bold 40px SF Pro Text Bold;
		letter-spacing: 0px;
		color: var(--azul2);
	}

	.home-section4-content > span{
		font: normal normal normal 19px SF Pro Text;
		letter-spacing: 0px;
		color: #848484;
	}
}

@media only screen and (max-width: 1258px){
	.home-section4-title > h1{
		/* font: normal normal bold calc(18px + 1vw) SF Pro Text Bold; */
		font: normal normal bold 25px SF Pro Text Bold;
		letter-spacing: 0px;
		color: var(--azul2);
	}
	
	.home-section4-title > h2{
		/* font: normal normal bold calc(41px + 1vw) SF Pro Text Bold; */
		font: normal normal bold 38px SF Pro Text Bold;
		letter-spacing: 0px;
		color: var(--azul2);
	}

	.home-section4-content > span{
		font: normal normal normal 18px SF Pro Text;
		letter-spacing: 0px;
		color: #848484;
	}
}

@media only screen and (max-width: 716px){
	.home-section4-title > h1{
		/* font: normal normal bold calc(18px + 1vw) SF Pro Text Bold; */
		font: normal normal bold 27px SF Pro Text Bold;
		letter-spacing: 0px;
		color: var(--azul2);
	}
	
	.home-section4-title > h2{
		/* font: normal normal bold calc(41px + 1vw) SF Pro Text Bold; */
		font: normal normal bold 40px SF Pro Text Bold;
		letter-spacing: 0px;
		color: var(--azul2);
	}

	.home-section4-content > span{
		font: normal normal normal 19px SF Pro Text;
		letter-spacing: 0px;
		color: #848484;
	}

	.btn-verde-agende{
		background-color: var(--verde1);
		color: var(--azul1);
		font-family: Roboto Medium;
		font-weight: medium;
		font-size: 14px;
		border: 0px;
		border-radius: 7px;
	}
}



/* AGRO */

/* SECTION 1 */

.agro-section1-content > h1{
	font: normal normal bold calc(60px + 2vw) SF Pro Text Bold;
	letter-spacing: 0px;
	color: var(--azul2);
}

.agro-section1-content > p{
	font: normal normal normal 22px/35px SF Pro Text;
	letter-spacing: 0px;
	color: #02293E;
}

/* SECTION 2 */

.agro-section2-title > h1{
	font: normal normal bold normal calc(40px + 1vw)/75px SF Pro Text Bold;
	letter-spacing: 0px;
	color: var(--azul2);
}

.agro-section2-title > h2{
	font: normal normal normal calc(20px + 0.3vw)/35px SF Pro Text;
	letter-spacing: 0px;
	color: #707070;
}

.agro-section2-icon{
	width: 90px;
	height: 90px;
	text-align: center;
	border-radius: 50%;
}

.agro-section2-icon > i{
	font-size: 30px;
	position: relative;
	top: calc(50% - 15px);
}

.agro-section2-icon > img{
	height: 30px;
	position: relative;
	top: calc(50% - 15px);
}


.agro-section2-card-content > h3{
	font: normal normal normal 30px/36px SF Pro Text;
	letter-spacing: 0px;
	color: var(--azul2);
}

.agro-section2-card-content > span{
	font: normal normal normal 20px/24px SF Pro Text;
	letter-spacing: 0px;
	color: #848484;
}

/* SECTION 3 */

.agro-section3-title > h1{
	font: normal normal bold normal calc(40px + 1vw)/75px SF Pro Text Bold;
	letter-spacing: 0px;
	color: var(--azul2);
}

.agro-section3-title > h2{
	font: normal normal normal calc(20px + 0.3vw)/35px SF Pro Text;
	letter-spacing: 0px;
	color: #707070;
}

.agro-section3-icon{
	width: 90px;
	height: 90px;
	text-align: center;
	transform: rotate(45deg);
}

.agro-section3-icon > i{
	font-size: 30px;
	position: relative;
	top: calc(50% - 15px);
	transform: rotate(-45deg);
}

.agro-section3-icon > img{
	height: 35px;
	position: relative;
	top: calc(50% - 17.5px);
	transform: rotate(-45deg);
}


.agro-section3-card-content > h3{
	font: normal normal normal 30px/36px SF Pro Text;
	letter-spacing: 0px;
	color: var(--azul2);
}

/* CLIENTES */

/* SECTION 1 */

/* #clientes-section1{
	background: linear-gradient(-5deg, #F5F5F5 0%, #F5F5F5 45%, transparent 0%);
	background-position: bottom;
} */

#clientes-section2{
	background: linear-gradient(-5deg, #F5F5F5 0%, #F5F5F5 65%, transparent 0%);
	background-position: bottom;
	margin-top: -5%;
}

.row-cliente-card{
	min-height: 50vh;;
}

.div-cliente-card{
	margin-top: -0%;
}

.cliente-card{
	width: 300px;
	height: 300px;
	background-color: white;
}

.cliente-card > img{
	max-width: 100%;
}

/* BLOG */

.nav-blog > ul {
	list-style: none;
}

.nav-blog > ul > li{
	display: inline;
}

@media only screen and (max-width: 640px) {
	.nav-blog > ul > li{
		display: list-item;
		margin-top: 2em;
	}
}


.nav-blog-link > a{
	font: normal normal normal 28px/35px SF Pro Text;
	letter-spacing: 0px;
	/* padding: 5px 0px; */
	color: #000000;
}

.nav-blog-link-active > a{
	color: var(--azul2);
	border-bottom: 2px solid var(--azul2);
}

.blog-section1-card-content > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* max-width: 659px; */
}

.blog-section1-card-content > .button-roxo{
    background-color: var(--roxo1);
    color: white;
    border: 0px;
    border-radius: 25px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.blog-section1-card-content > .button-vermelho{
    background-color: var(--vermelho1);
    color: white;
    border: 0px;
    border-radius: 25px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.blog-section1-card-content > h2{
    font-size: calc(20px + 1.1vw);
    /* font-size: 35px; */
    font-family: St Pro Text;
    font-weight: normal;
    letter-spacing: 0px;
    color: #000000;
}

.blog-section1-card-content > span{
    /* font-size: calc(5px + 0.7vw); */
    font-size: 18px;
    font-family: St Pro Text;
    letter-spacing: 0px;
    color: #000000;
}

.blog-section1-card-content > a{
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #000000;
}

.blog-section2-card-image{
	max-width: 329px;
	height: 185px;
	margin: 0 auto;
	object-fit: contain;
	overflow: hidden;
}

.blog-section2-card-image > img{
	height: 100%;
	object-fit: cover;
}

.blog-section2-cand-content{
	max-width: 329px;
	margin: 0 auto;
}

.blog-section2-cand-content > h2{
	font: normal normal bold 18px/24px Roboto Bold;
	letter-spacing: 0px;
	color: #000000;
}

.blog-section2-cand-content > h3{
	font: normal normal normal 28px/35px Roboto;
	letter-spacing: 0px;
	color: #000000;
}

.blog-section2-cand-content > span{
	font: normal normal normal 20px/26px Roboto;
	letter-spacing: 0px;
	color: #000000;
}

/* NOTICIA */

/* CONTEUDO */

.noticia-content {
	font-family: SF Pro Text;
}

.link-voltar-blog, .link-voltar-blog:hover, .link-voltar-blog:focus, .link-voltar-blog:visited {
	color: var(--laranja1);
	font: normal normal normal 28px/35px Roboto;
	letter-spacing: 0px;
	border-bottom: 2px solid var(--laranja1);
	padding-bottom: 10px;
}

iframe{
	max-width: 100%;
}

/* CONTATO */

#contato-section2-diagonal{
	background: linear-gradient(-5deg, #F5F5F5 0%, #F5F5F5 50%, transparent 0%);
	background-position: top;
	height: 200px;
	margin-top: -7%;
}

.contato-form-content > h3{
    font-size: 30px;
    font-family: SF Pro Text;
    letter-spacing: 0px;
    color: #1C1C1C;
}

.contato-form-content > label{
    font-size: 23px;
    font-family: SF Pro Text;
    letter-spacing: 0px;
    color: #000000;
}

.contato-form-content > input{
    border-radius: 37px;
    color: #000000;
	background-color: var(--cinza1);
	border-color: #707070;
}

.contato-form-content > select{
    border-radius: 37px;
    color: #000000;
    height: 50px;
	background-color: var(--cinza1);
	border-color: #707070;
}

.contato-form-content > textarea{
    border-radius: 37px;
    color: #000000;
	background-color: var(--cinza1);
	border-color: #707070;
}

.contato-form-content > button > a{
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #000000;
}

.botao-submit-contato{
	background-color: transparent; 
	border: 0px;
	outline: none;
}

.botao-submit-contato, .botao-submit-contato:hover, .botao-submit-contato:focus, .botao-submit-contato:visited, .botao-submit-contato:active{
	background-color: transparent; 
	border: 0px;
	outline: none;
}

/* FOOTER */

.footer-content > ul > li{
	font-family: SF Pro Text Medium;
	font-size: 20px;
	line-height: 1.8em;
	/* font: normal normal medium 20px SF Pro Text Medium; */
	letter-spacing: 0px;
	color: #FFFFFF;
}

.icone-folha-footer-hover{
		position: absolute;
		top: 12px;
		left: -13px;
}
